USE [master]
GO

WHILE EXISTS(select NULL from sys.databases where name='QL_CATRUC')
BEGIN
    DECLARE @SQL varchar(max)
    SELECT @SQL = COALESCE(@SQL,'') + 'Kill ' + Convert(varchar, SPId) + ';'
    FROM MASTER..SysProcesses
    WHERE DBId = DB_ID(N'QL_CATRUC') AND SPId <> @@SPId
    EXEC(@SQL)
    DROP DATABASE QL_CATRUC
END
GO

/****** Object:  Database [QL_CATRUC]    Script Date: 11/10/2020 10:04:34 AM ******/
CREATE DATABASE [QL_CATRUC]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QL_CATRUC', FILENAME = N'D:\QL_CATRUC.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QL_CATRUC_log', FILENAME = N'D:\QL_CATRUC_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )

GO

USE [QL_CATRUC]
GO


USE [QL_CATRUC]
GO
/****** Object:  Table [dbo].[ACCOUNT]    Script Date: 12/14/2020 2:09:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ACCOUNT]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[ACCOUNT](
	[USERNAME] [nvarchar](50) NOT NULL,
	[PASS] [nvarchar](200) NOT NULL,
	[TYPE] [int] NULL,
	[DISPLAYNAME] [nvarchar](100) NULL,
 CONSTRAINT [PK_ACCOUNT] PRIMARY KEY CLUSTERED 
(
	[USERNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[BENH_NHAN]    Script Date: 12/14/2020 2:09:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[BENH_NHAN]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[BENH_NHAN](
	[MASOBN] [varchar](10) NOT NULL,
	[HOTEN] [nvarchar](100) NULL,
	[DIACHI] [nvarchar](200) NULL,
	[MAPHONG] [varchar](10) NOT NULL,
 CONSTRAINT [PK_MASOBN_BENHNHAN] PRIMARY KEY CLUSTERED 
(
	[MASOBN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CATRUC]    Script Date: 12/14/2020 2:09:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CATRUC]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[CATRUC](
	[MACA] [varchar](10) NOT NULL,
	[THOIGIANTRUC] [time](7) NULL,
 CONSTRAINT [PK_MACA_CATRUC] PRIMARY KEY CLUSTERED 
(
	[MACA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DS_YTA]    Script Date: 12/14/2020 2:09:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DS_YTA]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[DS_YTA](
	[MASOYTA] [varchar](10) NOT NULL,
	[HOTEN] [nvarchar](100) NULL,
	[SDT] [varchar](15) NULL,
	[DIACHI] [nvarchar](200) NULL,
 CONSTRAINT [PK_MSYTA_YTA] PRIMARY KEY CLUSTERED 
(
	[MASOYTA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PHONGBENH]    Script Date: 12/14/2020 2:09:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PHONGBENH]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[PHONGBENH](
	[MAPHONG] [varchar](10) NOT NULL,
	[VITRI] [nvarchar](100) NULL,
 CONSTRAINT [PK_MAPHONG_PHONGBENH] PRIMARY KEY CLUSTERED 
(
	[MAPHONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[YTA_TRUC]    Script Date: 12/14/2020 2:09:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[YTA_TRUC]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[YTA_TRUC](
	[MASOYTA] [varchar](10) NOT NULL,
	[MACA] [varchar](10) NOT NULL,
	[NGAY] [date] NULL,
	[MAPHONG] [varchar](10) NOT NULL,
 CONSTRAINT [PK_MASOYTA_MACA_YTATRUC] PRIMARY KEY CLUSTERED 
(
	[MASOYTA] ASC,
	[MACA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[ACCOUNT] ([USERNAME], [PASS], [TYPE], [DISPLAYNAME]) VALUES (N'admin', N'1962026656160185351301320480154111117132155', 1, N'admin dep trai')
INSERT [dbo].[ACCOUNT] ([USERNAME], [PASS], [TYPE], [DISPLAYNAME]) VALUES (N'quanly', N'1962026656160185351301320480154111117132155', 2, N'quan ly xau xi')
INSERT [dbo].[ACCOUNT] ([USERNAME], [PASS], [TYPE], [DISPLAYNAME]) VALUES (N'quanly2', N'1962026656160185351301320480154111117132155', 1, N'Nguyễn Ngọc')
INSERT [dbo].[BENH_NHAN] ([MASOBN], [HOTEN], [DIACHI], [MAPHONG]) VALUES (N'0001', N'Nguyễn Ánh', N'325 Lương Định Của', N'A101')
INSERT [dbo].[BENH_NHAN] ([MASOBN], [HOTEN], [DIACHI], [MAPHONG]) VALUES (N'0002', N'Trần Minh', N'325 Lương Định Của', N'A101')
INSERT [dbo].[BENH_NHAN] ([MASOBN], [HOTEN], [DIACHI], [MAPHONG]) VALUES (N'0003', N'Nguyễn Phi Hùng', N'325 Lương', N'A203')
INSERT [dbo].[CATRUC] ([MACA], [THOIGIANTRUC]) VALUES (N'01', CAST(N'12:30:30' AS Time))
INSERT [dbo].[CATRUC] ([MACA], [THOIGIANTRUC]) VALUES (N'02', NULL)
INSERT [dbo].[CATRUC] ([MACA], [THOIGIANTRUC]) VALUES (N'03', NULL)
INSERT [dbo].[DS_YTA] ([MASOYTA], [HOTEN], [SDT], [DIACHI]) VALUES (N'0001', N'Trần Hải Yến', N'123456', N'325 LUONG DINH CUA')
INSERT [dbo].[DS_YTA] ([MASOYTA], [HOTEN], [SDT], [DIACHI]) VALUES (N'0002', N'Lê Thị Hạnh', N'4134261', N'325 NGUYEN A CUA')
INSERT [dbo].[DS_YTA] ([MASOYTA], [HOTEN], [SDT], [DIACHI]) VALUES (N'0003', N'Huỳnh Ái Vy', N'07074564', N'325 LUONG B CUA')
INSERT [dbo].[PHONGBENH] ([MAPHONG], [VITRI]) VALUES (N'A101', N'Dãy A lầu 1 phòng số 1')
INSERT [dbo].[PHONGBENH] ([MAPHONG], [VITRI]) VALUES (N'A102', N'Dãy A lầu 1 phòng số 2')
INSERT [dbo].[PHONGBENH] ([MAPHONG], [VITRI]) VALUES (N'A103', N'Dãy A lầu 1 phòng số 3')
INSERT [dbo].[YTA_TRUC] ([MASOYTA], [MACA], [NGAY], [MAPHONG]) VALUES (N'0001', N'01', CAST(N'2020-10-11' AS Date), N'A101')
INSERT [dbo].[YTA_TRUC] ([MASOYTA], [MACA], [NGAY], [MAPHONG]) VALUES (N'0001', N'02', CAST(N'2020-12-11' AS Date), N'A201')
INSERT [dbo].[YTA_TRUC] ([MASOYTA], [MACA], [NGAY], [MAPHONG]) VALUES (N'0002', N'01', CAST(N'2020-09-11' AS Date), N'A102')
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_MAPHONG_BENHNHAN]') AND parent_object_id = OBJECT_ID(N'[dbo].[BENH_NHAN]'))
ALTER TABLE [dbo].[BENH_NHAN]  WITH CHECK ADD  CONSTRAINT [FK_MAPHONG_BENHNHAN] FOREIGN KEY([MAPHONG])
REFERENCES [dbo].[PHONGBENH] ([MAPHONG])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_MAPHONG_BENHNHAN]') AND parent_object_id = OBJECT_ID(N'[dbo].[BENH_NHAN]'))
ALTER TABLE [dbo].[BENH_NHAN] CHECK CONSTRAINT [FK_MAPHONG_BENHNHAN]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_MACA_YTATRUC]') AND parent_object_id = OBJECT_ID(N'[dbo].[YTA_TRUC]'))
ALTER TABLE [dbo].[YTA_TRUC]  WITH CHECK ADD  CONSTRAINT [FK_MACA_YTATRUC] FOREIGN KEY([MACA])
REFERENCES [dbo].[CATRUC] ([MACA])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_MACA_YTATRUC]') AND parent_object_id = OBJECT_ID(N'[dbo].[YTA_TRUC]'))
ALTER TABLE [dbo].[YTA_TRUC] CHECK CONSTRAINT [FK_MACA_YTATRUC]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_MAPHONG_YTATRUC]') AND parent_object_id = OBJECT_ID(N'[dbo].[YTA_TRUC]'))
ALTER TABLE [dbo].[YTA_TRUC]  WITH CHECK ADD  CONSTRAINT [FK_MAPHONG_YTATRUC] FOREIGN KEY([MAPHONG])
REFERENCES [dbo].[PHONGBENH] ([MAPHONG])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_MAPHONG_YTATRUC]') AND parent_object_id = OBJECT_ID(N'[dbo].[YTA_TRUC]'))
ALTER TABLE [dbo].[YTA_TRUC] CHECK CONSTRAINT [FK_MAPHONG_YTATRUC]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_MASOYTA_YTATRUC]') AND parent_object_id = OBJECT_ID(N'[dbo].[YTA_TRUC]'))
ALTER TABLE [dbo].[YTA_TRUC]  WITH CHECK ADD  CONSTRAINT [FK_MASOYTA_YTATRUC] FOREIGN KEY([MASOYTA])
REFERENCES [dbo].[DS_YTA] ([MASOYTA])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_MASOYTA_YTATRUC]') AND parent_object_id = OBJECT_ID(N'[dbo].[YTA_TRUC]'))
ALTER TABLE [dbo].[YTA_TRUC] CHECK CONSTRAINT [FK_MASOYTA_YTATRUC]
GO
/****** Object:  StoredProcedure [dbo].[GET_ACCOUNT]    Script Date: 12/14/2020 2:09:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GET_ACCOUNT]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[GET_ACCOUNT] AS' 
END
GO
ALTER PROC [dbo].[GET_ACCOUNT](@USER AS NVARCHAR(50), @PASS AS NVARCHAR(200))
AS
BEGIN
	SELECT * FROM ACCOUNT WHERE USERNAME = @USER AND PASS = @PASS
END
GO
/****** Object:  StoredProcedure [dbo].[SELECT_YTATRUC]    Script Date: 12/14/2020 2:09:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SELECT_YTATRUC]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[SELECT_YTATRUC] AS' 
END
GO
ALTER PROC [dbo].[SELECT_YTATRUC](@ngaybd date,@ngaykt date)
AS
BEGIN
	select DS.MASOYTA,DS.HOTEN,CT.MACA,THOIGIANTRUC,NGAY,MAPHONG
	FROM YTA_TRUC YTT,DS_YTA DS, CATRUC CT
	WHERE YTT.MASOYTA = DS.MASOYTA
	AND YTT.MACA = CT.MACA
	AND NGAY BETWEEN @ngaybd AND @ngaykt
END
GO
/****** Object:  StoredProcedure [dbo].[SELECT_YTATRUC2]    Script Date: 12/14/2020 2:09:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SELECT_YTATRUC2]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[SELECT_YTATRUC2] AS' 
END
GO
ALTER PROC [dbo].[SELECT_YTATRUC2]
as
BEGIN
	select DS.MASOYTA,DS.HOTEN,CT.MACA,THOIGIANTRUC,NGAY,MAPHONG
	FROM YTA_TRUC YTT,DS_YTA DS, CATRUC CT
	WHERE YTT.MASOYTA = DS.MASOYTA
	AND YTT.MACA = CT.MACA
END
GO
